<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>KSVDL Settings</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>USERNAME</string>
                <key>Key</key>
                <string>loginname</string>
                <key>Title</key>
                <string>Logged in as:</string>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
            </dict>
            
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>sample_arr</string>
                <key>Title</key>
                <string>Sample Arrivals</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <false/>
                <key>Key</key>
                <string>prelim_results</string>
                <key>Title</key>
                <string>Individual Test Results</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>final_result</string>
                <key>Title</key>
                <string>Final Results</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>30</string>
                <key>Key</key>
                <string>accession_restrict</string>
                <key>Title</key>
                <string>Number of Accessions to display</string>
                <key>Type</key>
                <string>PSTextFieldSpecifier</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
